extends layout

block content
    if type === 'Gallery' && movies
        each elem in movies
            a(href='/gallery/single/'+elem._id)
                h1 #{elem.title}
                p #{elem.imdb_id}
                | #{elem.synopsis}
                each genre in elem.genres
                    p #{genre}
                img(src=elem.picture.banner)
    else if movie && type === 'One'
        h1 #{movie.title}
        p #{movie.imdb_id}
        p #{movie.synopsis}
        each genre in movie.genres
            p #{genre}
        p #{movie.rating}
        img(src=movie.picture.banner)
        img(src=movie.picture.poster)
        img(src=movie.picture.back)
        p #{movie.torrents.en['1080p'].url}
        iframe(width="420", height="315", src=movie.trailer)
        form(method='POST', action='/movie/download')
            input(type='hidden', name='torrent', value=movie.torrents.en['1080p'].url)
            button(type='submit') 🎥


        video(id='video' src="../../tmp/test/gold/Gold.2016.1080p.BluRay.x264-[YTS.AG].mp4" type="video/mp4" controls)
    script
        include ../public/js/player.js
